<p>service-questions works!</p>
<hr />
<div *ngIf="form">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div *ngFor="let item of questions">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" [value]="item.id" id="flexCheckDefault"
                    [formControlName]="item.id">
                <label class="form-check-label" for="flexCheckDefault">
                    {{item.question}} - INR {{item.cost}}
                </label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <div>
        {{total}}
    </div>
</div>